{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "strict": 0,
    "quotes": ["error", "single"],
    "eol-last": ["error", "always"],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0]
  },
  "overrides": [{
    "files": ["*.ts"],
    "parser": "@typescript-eslint/parser"
  }]
}
