<div id="<%= pfx %>up">
  <div id="<%= pfx %>label"><%= label %></div>
  <div id="<%= pfx %>status-c">
    <span id="<%= pfx %>input-c">
      <div class="<%= pfx %>field <%= ppfx %>select">
        <span id="<%= pfx %>input-holder">
          <select id="<%= pfx %>states">
            <option value=""><%= statesLabel %></option>
          </select>
        </span>
        <div class="<%= pfx %>sel-arrow">
          <div class="<%= pfx %>d-s-arrow"></div>
        </div>
      </div>
    </span>
  </div>
</div>
<div id="<%= pfx %>tags-field">
  <div id="<%= pfx %>tags-c"></div>
  <input id="<%= pfx %>new" />
  <span id="<%= pfx %>add-tag" class="fa fa-plus"></span>
</div>
<div id="<%= pfx %>sel-help">
  <div id="<%= pfx %>label">Selected</div>
  <div id="<%= pfx %>sel"></div>
  <div style="clear:both"></div>
</div>
