<div class="<%= pfx %>assets-cont">
  <div class="<%= pfx %>assets-header">
    <form id="login-form" class="<%= pfx %>add-asset">
      <input class="<%= ppfx %>input" placeholder="http://path/to/the/image.jpg" />
      <button class="<%= ppfx %>btn-prim">Add image</button>
      <div style="clear:both"></div>
    </form>
    <div class="<%= pfx %>dips" style="display:none">
      <button class="fa fa-th <%= ppfx %>btnt"></button>
      <button class="fa fa-th-list <%= ppfx %>btnt"></button>
    </div>
  </div>
  <div class="<%= pfx %>assets"></div>
  <div style="clear:both"></div>
</div>