.logo{
  width: 90px;
  height: 90px;
}

.logo-block {
  margin: 0 auto;
  width: 255px;
}

.logo-c, .logo-label {
  float: left;
}

.logo-label{
  cursor: default;
}

.logo-c {
  margin-right: 2px;
}

.logo-name {
  font-size: 2.5em;
  height: 50px;
  letter-spacing: 0.05em;
}

.logo-plg {
  letter-spacing: 0.5em;
  text-align: left;
}

.logo-bann {
  padding: 30px;
}

.gjs-playground{
  height: 100%;
  overflow-y: auto;
}

.gjs-plg {
  display: flex;
}
.gjs-plg-editor, .gjs-plg-output {
  width: 50%;
  min-height: 300px;
}