/* stylelint-disable */
* {
  box-sizing: border-box;
}

.tooltip::after {
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
}

.top-nav-link.tooltip::after {
  white-space: nowrap;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  font-weight: 300;
}

.no-sel {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  color: #c64563;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  min-width: 150px;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn.try{
  padding: 0.75rem 3rem;
  font-size: 20px;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  /*background-color: rgba(255, 255, 255, 0.2);*/
  background-color: #632765;
  /*border-color: rgba(255, 255, 255, 0.3); */
  border-color:#8c508e;
}

.bann-cont {
  border: 2px solid #444;
  border-radius: 5px;
  margin: 0 auto 30px;
  max-width: 1100px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35), 0 0 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 90%;
  opacity: 0.2;
  filter: blur(7px);
}

.bann-cont img {
  width: 100%;
  display: block;
}

.bann-cont-c {
  bottom: -240px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.section-container {
  padding: 5rem 3% 7rem;
}

.section-title {
  font-size: 3rem;
  font-weight: lighter;
  text-align: center;
  margin-top: 0;
}

.primary-title {
  color: #c64563;
}

.fb-share-button{ display: inline !important; }
.fb-share-button > span, .fb-share-button iframe{ width:60px !important; height: 20px !important;}
.fb-share-button > span{vertical-align: baseline !important; }

.device-small {
  display: none;
  background-color: white;
  border-radius: 3px;
  color: #9e5381;
  margin: 0 auto;
  padding: 25px;
  text-shadow: none;
  width: 90%;
}

.what-images {
  height: 500px;
  margin: 5rem auto 0;
  position: relative;
  width: 80%;
}

.what-image-cont {
  border: 2px solid #444;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35), 0 0 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  min-width: 259px;
}

.what-image-cont1 {
  right: 0;
  top: 0;
  width: 75%;
}

.what-image-cont2 {
  left: 0;
  top: 100px;
  width: 75%;
  border-color: #373d49;
}

.what-image {
  display: block;
  width: 100%;
}

.info-card-blocks {
  align-items: center;
  display: flex;
}

.card-images {
  position: relative;
}

.card-image {
  display: block;
  width: 100%;
}

.card-image-cont {
  border-color: #463a3b;
}

.card-image-cont1 {
  float: right;
  max-width: 344px;
}

.card-image-cont2 {
  float: left;
  max-width: 1200px;
  width: 200%;
  margin-left: 15%;
}

.card-image-cont3 {
  margin: 0 auto;
  max-width: 277px;
}

.card-image-cont32 {
  left: -23%;
  max-width: 277px;
  position: absolute;
  top: -7%;
  z-index: -1;
}

.card-image-cont33 {
  left: -23%;
  max-width: 277px;
  position: absolute;
  top: 7%;
  z-index: -1;
}

.card-image-cont33 {
  left: -50%;
  max-width: 277px;
  position: absolute;
  top: 15%;
  z-index: -2;
}

.card-image-cont4 {
  margin: 0 auto;
  max-width: 250px;
}

.card-image-cont42 {
  left: -15%;
  max-width: 250px;
  position: absolute;
  top: -7%;
  z-index: -1;
}

.card-image-cont5 {
  float: right;
  margin: 0 15% 0 auto;
  max-width: 849px;
  width: 130%;
}

.card-image-cont52 {
  max-width: 1200px;
  position: absolute;
  right: 80%;
  top: -39px;
  width: 175%;
  z-index: -1;
}

.card-image-cont6 {
  float: left;
  margin-left: 15%;
  max-width: 800px;
  width: 150%;
}

.brd-image {
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}


@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; }
}

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
  }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; }
  .github-ribbon, .btn.try{ display: none; }
  .device-small{
    display:block;
  }
}

.page-header,
.gjs-playground {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  min-height: 100px;
  color: #fff;
  text-align: center;
  background-color: #6f2943;

  /* linear-gradient(120deg, #d781a5, #7f3a71) */
  background-image: linear-gradient(120deg, #d983a6, #4d114f);
  position: relative;
  overflow: hidden;
}

.page-header {
  min-height: 550px;
}

.logo-cont {
  font-size: 2rem;
  line-height: 55px;
  cursor: default;
}

.top-logo-grapesjs {
  height: 55px;
  vertical-align: bottom;
}

.top-nav {
  padding-top: 22px;
}

.nav-item {
  margin-left: 25px;
}

.top-nav-link {
  color: inherit;
  text-decoration: none !important;
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 1rem 6rem 0; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem 0; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem 0; } }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  position: relative;
  font-weight: 300;
}

.b-badge {
  background-color: orange;
  border-radius: 3px;
  font-size: 11px;
  font-weight: normal;
  padding: 3px 5px;
  position: absolute;
  text-shadow: none;
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; }
  .b-badge {  font-size: 9px;  }
}

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; }
  .b-badge {  font-size: 9px;  }
}

.project-tagline {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-weight: lighter;
  opacity: 0.9;
  position: relative;
  z-index: 10;
  font-size: 2em;
}

.project-tagline > span {
  font-size: 1.15rem;
  opacity: 0.85;
}

@media screen and (min-width: 64em) {}

@media screen and (min-width: 42em) and (max-width: 64em) {
  }

@media screen and (max-width: 42em) { }

.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%;
  display: block;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #c64563; }
.main-content p {
  margin-bottom: 1em; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

.ddown-icon-c{
  margin: 0 auto;
  width: 45px;
  animation-duration: 2s;
  animation-iteration-count: 3;
}
#ddown-icon {
  cursor: default;
  font-size: 35px;
  transform: rotate(-90deg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ddown-c {
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
  position: absolute;
  width: 100%;
  z-index: 20;
}

.main-content {
  background-color: #fafafa;
  padding: 2rem 6rem 10rem;
  margin: 0 auto;
  font-size: 1.1rem;
  overflow: hidden;
}

/*  */
@media screen and (min-width: 64em) {


}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }

.btns-cont {
  margin-bottom: 50px;
  position: relative;
  z-index: 10;
}

.top-header {
  position: relative;
  z-index: 10;
}

.site-footer {
  overflow: hidden;
  padding: 0 0 0 10px;
  font-size: 10px;
  text-align: left;
  position: absolute;
  bottom:0; left:0;
  height: 30px;
  width: 300px;
}

.site-footer-owner {
  display: block;
}

.site-footer-credits {
  color: #819198; }
.site-footer-owner > a {
  color: white;
}

@media screen and (min-width: 64em) {

}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {

  .site-footer {
    font-size: 0.9rem;
  }

}

.clearfix{
  clear: both;
}
.github-ribbon{
  background-color:#fff;
  top:3.2em;
  right:-3.7em;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  box-shadow:0 0 1px #3b0000;
  color:#c64563;
  padding:.6em 3.5em;
  position:absolute;
  font:bold .82em sans-serif;
  text-align:center;
  text-decoration:none !important;
  text-shadow:none;
  -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none
}

.width-all{
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.info-card {
  font-size: 25px;
  margin: 0 0 100px;
  clear: both;
}

.info-card-title {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.info-card-description {
  font-size: 1rem;
}

.body-c > h1{
  text-align: center;
  margin: 50px 0 100px !important;
}
.info-card #desc {
  float: left;
  width: 30%;
  padding-right: 20px;
}
.info-card:nth-child(2n+1) #desc {
  float: right;
  padding: 0 0 0 20px;
  text-align: right;
}
.info-card #img-c {
  box-shadow: 0 3px 0 #2d2d2d, 0 10px 10px #555555;
  border: 3px solid #444;
  border-radius: 3px;
  float: right;
  max-width: 685px;
  width: 70%;
}

.fadeInBlock {
  opacity: 0;
}

.sponsors, .backers {
  margin: 50px 0 0;
}

.sponsors__link,
.sponsors__link:hover {
  text-decoration: none;
  margin-right: 15px;
}

.footer-content {
  background-color: #222;
  min-height: 350px;
  color: #eee;
}

.footer-c .title {
  font-size: 20px;
  font-weight: 300;
  padding: 80px 0;
  text-align: center;
}
.btns-c {
  text-align: center;
}
.btn.btn-gjs {
  background-color: #9e5381;
  border: medium none;
  font-size: 20px;
  font-weight: 300;
  padding: 0.75rem 3rem;
  text-align: center;
  color: #eee;
}

.btn.btn-rnd {
  /*
  background-color: transparent;
  color: #fff;
  */

  border: 2px solid #fff;
  border-radius: 10px;
  background-color: white;
  color: #9e5381;
  text-shadow: none;
  opacity: 0.9;
  transition: opacity 0.35s;
}

.btn.btn-rnd:hover {
  background-color: white;
  color: #9e5381;
  text-shadow: none;
  opacity: 1;
}

.copyr-content {
  background-color: #333;
}

.copyr-c {
  color: #bbb;
  font-weight: 300;
  padding: 10px 0;
  text-align: center;
}
.darker-link{
  color: #9e5381;
}
.gifffer-play-button {
  background-color: #9e5381 !important;
  opacity: 0.7;
}
.gifffer-play-button:hover{
  opacity: 0.9;
}
.gifffer-play-button > div {
  border-left-color: #eee !important;
}
.grapesjs-logo {
  display: block;
  height: 90px;
  margin: 0 auto;
  width: 90px;
}
.info-card canvas, .info-card #img-c > div{
  width: 100% !important;
}

#carbonads {
  margin: 0 auto 50px;
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 400px;
  background-color: rgba(0,0,0,0.15);
  padding: 15px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
}

.carbon-wrap,
.carbon-link {
  display: block;
  overflow: hidden;
  text-align: left;
}

.carbon-wrap {
  font-size: 14px;
}

.carbon-img {
  float: left;
  margin-right: 15px;
}

.carbon-img img {
  border-radius: 3px;
}

.carbon-cta-c {
  text-align: right;
  padding-top: 5px;
}

.carbon-cta {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
}

#carbonads a {
  color: rgba(255,255,255,0.95);
  text-shadow: none;
}

#carbonads a:hover {
  text-decoration: none;
}

.carbon-poweredby {
  display: block;
  float: right;
  margin-top: -1.9em;
  font-size: 13px;
  opacity: 0.75;
}

@media (max-width: 1300px) {
  .info-card #img-c{
    width: 100%;
    margin: 0 auto;
    float: none;
  }
  .info-card #desc, .info-card:nth-child(2n+1) #desc{
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .info-card #img-c > div{}


}

.featured {
  background-color: rgba(0, 0, 0, 0.05);
}

.featured-title {
  color: rgba(0, 0, 0, 0.25);
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  padding: 50px 0;
  text-align: center;
}

.featured-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
}

.featured-card {
  margin: 50px 30px;
}

.featured-logo {
  opacity: 0.7;
}

.featured-logo.wdd-logo {
  opacity: 0.5;
}

.ddown-sharer {
  bottom: 5px;
  left: 15px;
  position: absolute;
  font-size: 1.5rem;
  z-index: 30;
}

.btn-share {
  color: #fff;
  margin: 0 5px;
}

.madewith {
  font-size: 0.9rem;
  line-height: 2rem;
}

.madewith-c {
  padding: 100px 0 50px;
  text-align: center;
}

.bot-logo-made {
  height: 20px;
  margin-right: -3px;
  padding: 0;
  vertical-align: middle;
}

.logo-bot-c {
  border: 1px solid;
  border-radius: 3px;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 3px 8px 7px;
}


@media screen and (max-width: 42em) {

  body {
    font-size: 14px;
  }

  .column-logo, .top-nav {
    text-align: center;
  }

  .section-content, .info-card-description {
    text-align: justify;
  }

  .info-card-title {
    text-align: center;
    font-size: 2rem;
  }

  .what-images {
    height: 250px;
  }

  .main-section-title {
    font-size: 1.5rem;
  }

  .card-column3-1,
  .card-column4-1,
  .card-column5-1 {
    order: 2;
  }

  .card-column3-2,
  .card-column4-2,
  .card-column5-2 {
    margin-bottom: 50px;
  }

  .card-image-cont1,
  .card-image-cont2,
  .card-image-cont6,
  .card-image-cont5 {
    margin: 0 auto;
    width: 100%;
  }

  .card-image-cont32,
  .card-image-cont33,
  .card-image-cont42,
  .card-image-cont52 {
    display: none;
  }
}

.product-promo {
  background: #3e1c30;
  color: white;
  padding: 8px 0px;
  text-align: center;
  font-weight: 400;
}

.product-promo__logo {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
