* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  font-weight: 300;
}

a {
  color: #6f2943;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  min-width: 150px;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn.try{
  padding: 0.75rem 3rem;
  font-size: 25px;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  /*background-color: rgba(255, 255, 255, 0.2);*/
  background-color: #632765;
  /*border-color: rgba(255, 255, 255, 0.3); */
  border-color:#8c508e;
}

.bann-cont {
  margin: 0 auto 30px;
  max-width: 750px;
  width: 100%;
}
.bann-cont img{
  width:100%;
}
.fb-share-button{ display: inline !important; }
.fb-share-button > span, .fb-share-button iframe{ width:60px !important; height: 20px !important;}
.fb-share-button > span{vertical-align: baseline !important; }

.device-small {
  display: none;
  background-color: white;
  border-radius: 3px;
  color: #9e5381;
  margin: 0 auto;
  padding: 25px;
  text-shadow: none;
  width: 90%;
}

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; }
}

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
  }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; }
  .github-ribbon, .btn.try{ display: none; }
  .device-small{
    display:block;
  }
}
.page-header {
  text-shadow: 0 2px 0 #793d7b;
  min-height:100px;
  color: #fff;
  text-align: center;
  background-color: #6f2943;
  /*linear-gradient(120deg, #d781a5, #7f3a71)*/
  background-image: linear-gradient(120deg, #d983a6, #4d114f);
  overflow: auto;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 3rem 6rem 0; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem 0; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem 0; } }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  position: relative;
}

.b-badge {
  background-color: orange;
  border-radius: 3px;
  font-size: 11px;
  font-weight: normal;
  padding: 3px 5px;
  position: absolute;
  text-shadow: none;
}
.project-name {
  font-weight: 400;
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; }
  .b-badge {  font-size: 9px;  }
}

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; }
  .b-badge {  font-size: 9px;  }
}

.project-tagline {
  margin-bottom: 3rem;
  font-weight: normal;
  opacity: 0.7; }

.project-tagline > span {
  font-size: 15px;
}

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }

.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%;
  display: block;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #c64563; }
.main-content p {
  margin-bottom: 1em; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

.ddown-icon-c{
  margin: 0 auto;
  width: 45px;
  animation-duration: 2s;
  animation-iteration-count: 3;
}
#ddown-icon {
  cursor: default;
  font-size: 30px;
  transform: rotate(-90deg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ddown-c {
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
  position: absolute;
  width: 100%;
}
@media screen and (min-width: 64em) {
  .main-content {
    background-color: #fafafa;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }

.btns-cont {
  margin-bottom: 70px;
}

.site-footer {
  overflow: hidden;
  padding: 0 0 0 10px;
  font-size: 10px;
  text-align: left;
  position: absolute;
  bottom:0; left:0;
  height: 30px;
  width: 300px;
}

.site-footer-owner {
  display: block;
}

.site-footer-credits {
  color: #819198; }
.site-footer-owner > a {
  color: white;
}

@media screen and (min-width: 64em) {

}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }

.clearfix{
  clear: both;
}
.github-ribbon{
  background-color:#fff;
  top:3.2em;
  right:-3.7em;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  box-shadow:0 0 1px #3b0000;
  color:#c64563;
  padding:.6em 3.5em;
  position:absolute;
  font:bold .82em sans-serif;
  text-align:center;
  text-decoration:none !important;
  text-shadow:none;
  -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none
}

.width-all{
  max-width: 980px;
  width: 90%;
  margin: 0 auto;
}

.info-card {
  font-size: 25px;
  margin: 0 0 250px;
  clear: both;
}
.body-c > h1{
  text-align: center;
  margin: 50px 0 100px !important;
}
.info-card #desc {
  float: left;
  width: 30%;
  padding-right: 20px;
}
.info-card:nth-child(2n+1) #desc {
  float: right;
  padding: 0 0 0 20px;
  text-align: right;
}
.info-card #img-c {
  box-shadow: 0 3px 0 #2d2d2d, 0 10px 10px #555555;
  border: 3px solid #444;
  border-radius: 3px;
  float: right;
  max-width: 685px;
  width: 70%;
}
.fadeInBlock{opacity: 0;}

.footer-content{
  background-color: #222222;
  min-height: 350px;
}
.footer-c .title {
  color: #eee;
  font-size: 20px;
  font-weight: 300;
  padding: 80px 0;
  text-align: center;
}
.btns-c {
  text-align: center;
}
.btn.btn-gjs {
  background-color: #9e5381;
  border: medium none;
  font-size: 20px;
  font-weight: 300;
  padding: 0.75rem 3rem;
  text-align: center;
  color: #eee;
}
.btn.btn-rnd {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  color: #fff;
}
.btn.btn-rnd:hover {
  background-color: white;
  color: #9e5381;
  text-shadow: none;
}
.copyr-content {
  background-color: #333333;
}
.copyr-c {
  color: #bbb;
  font-weight: 300;
  padding: 10px 0;
  text-align: center;
}
.copyr-c a{
  color: #9e5381;
}
.gifffer-play-button {
  background-color: #9e5381 !important;
  opacity: 0.7;
}
.gifffer-play-button:hover{
  opacity: 0.9;
}
.gifffer-play-button > div {
  border-left-color: #eee !important;
}
.grapesjs-logo {
  display: block;
  height: 90px;
  margin: 0 auto;
  width: 90px;
}
.info-card canvas, .info-card #img-c > div{
  width: 100% !important;
}
@media (max-width: 1300px) {
  .info-card #img-c{
    width: 100%;
    margin: 0 auto;
    float: none;
  }
  .info-card #desc, .info-card:nth-child(2n+1) #desc{
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .info-card #img-c > div{}


}