$layerIconSize: 12px !default;
$layerCaretSize: 18px !default;
$layerNameSpacing: 4px !default;

.#{$nv-prefix} {
  &selected-parent {
    border: 1px solid $colorYell;
  }

  &opac50 {
    @include opacity(0.5);
  }

  &layer {
    font-weight: lighter;
    text-align: left;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: $fontSizeS;
    display: grid;

    &-hidden {
      @include opacity(0.55);
    }

    &-count {
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-vis {
      height: auto !important;
      width: auto !important;
      left: 0;
      top: 0;
      padding: 7px 5px 7px 10px;
      position: absolute;
      cursor: pointer;
      z-index: 1;
    }

    &-caret {
      font-size: $layerIconSize;
      width: $layerIconSize;
      height: $layerCaretSize;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @include opacity(0.7);

      &:hover {
        @include opacity(1);
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &-title {
      font-weight: lighter;
      letter-spacing: 1px;
      text-align: left;
      position: relative;
      cursor: pointer;

      padding: 3px 10px 3px 30px;
      display: flex;
      align-items: center;

      &-inn {
        align-items: center;
        position: relative;
        display: flex;
        width: 100%;
      }

      &-c {
        position: relative;
      }
    }

    &__icon {
      display: flex;
      margin-left: 4px;
      margin-right: 4px;

      svg {
        &.#{$nv-prefix}block-svg {
          fill: currentColor;
        }
        width: $layerIconSize;
      }
    }

    &-name {
      display: flex;
      box-sizing: border-box;
      overflow: hidden;
      white-space: nowrap;
      height: auto;
      margin: 0 30px 0 $layerNameSpacing;
      @extend .#{$app-prefix}no-user-select;

      &--no-edit {
        text-overflow: ellipsis;
      }
    }

    > .#{$nv-prefix}layer-children {
      display: none;
    }

    &.open > .#{$nv-prefix}layer-children {
      display: block;
    }

    &-no-chld > .#{$nv-prefix}layer-title-inn {
      > .#{$nv-prefix}layer-caret {
        visibility: hidden;
        pointer-events: none;
      }

      // > .#{$nv-prefix}layer-name {
      //   margin-left: 6px;
      // }
    }

    &-move {
      // padding: 7px 10px 7px 5px;
      // font-size: 12px;
      width: calc(100% - 40px);
      height: 100%;
      position: absolute;
      cursor: move;
      right: 0;
      top: 0;
      &:active {
        cursor: move;
      }

      &--no-edit {
        pointer-events: none;
        display: none;
      }
    }

    &.#{$nv-prefix}hovered > .gjs-layer-title-c > .#{$nv-prefix}layer-title {
      background-color: #616161;
    }

    &.#{$nv-prefix}selected > .gjs-layer-title-c > .#{$nv-prefix}layer-title {
      background-color: #644EFF;
    }

    &.#{$nv-prefix}freezed {
      .#{$nv-prefix}layer-title-c {
        background: #644EFF;
      }
    }
  }
}


.#{$app-prefix}layers {
  position: relative;
  height: 100%;

  ##{$nv-prefix}placeholder {
    width: 100%;
    position: absolute;

    ##{$nv-prefix}plh-int {
      height: 100%;
      padding: 1px;

      &.#{$nv-prefix}insert {
        background-color: $colorGreen;
      }
    }
  }
}
